@use "node_modules/@bbva-web-components/bbva-foundations-sass/main" as *;

:host {

  .wrapper {
    display: flex;
    margin-bottom: rem(8px);
    margin-top: rem(10px);
    justify-content: center;
  }


.content-body{
    padding-left: rem(12px);
    padding-right: rem(12px);
}

}